@using NiseWorld.Models
@model ForPost
@{
    ViewBag.Title = "Details";
}

<div>
   
    <div class="dl-horizontal">
        <div >
            <div > автор </div>
            <div class="container">
                <div class="row">
                <div class="col-xs-12 col-md-12">
                    @if (Model.User.ImageData != null)
                   {
                        @Html.Raw("<img style='width:100px; height:80px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.User.ImageData) + "\" />")

                    }
                    else
                    {
                       
                    }
                </div>

             

                <div class="col-xs-6 col-md-6">
                    <b>Имя: </b>
                    @Html.DisplayFor(model => model.User.Name)
                </div>
              
                <div class="col-xs-6 col-md-6">
                    <b>Возраст: </b>
                    @Html.DisplayFor(model => model.User.Age)
                </div>
              

                <div class="col-xs-6 col-md-6">
                         <b>Поддержка: </b>
                    @Model.KolLikeUsera
                </div>
               

                <div class="col-xs-6 col-md-6">
                    <b>Посты: </b>
                    @Model.KolPostUsera
                </div>
            </div>
        </div>
            <div> пост </div>
            <div  class="row">
                <div class="col-xs-12 col-md-12">
                    <b>Загаловок:</b>
                    @Html.DisplayFor(model => model.Post.Сaption)
                </div>
                <div class="col-xs-12 col-md-12">
                    <b>Картинки</b>
                    <div>
                        @if (Model.Pictures != null)
            {
                            <div><b>Количетсво</b> @Model.Pictures.Count</div>
                            foreach (Picture c in Model.Pictures)
                            {

                                @Html.Raw("<img style='width:100px; height:80px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(c.ImageData) + "\" />")
                            }
                        }
                        else
                        {
                         
                        }
                    </div>
                </div>
                

                <div class="col-xs-12 col-md-12">
                    <b> Текст</b>
                    @Html.DisplayFor(model => model.Post.Text)
                </div>

                <div class="col-xs-6 col-md-6">
                    <b>Лайки</b>           
                    <p>
                        @Ajax.ActionLink("Лайк", "LikePost", "Help", new { IdPost = Model.Post.IdPost }, new AjaxOptions { UpdateTargetId = "details-block", HttpMethod = "Post" })
                    </p>
                    <div id="details-block">

                        @if (Model != null)
                        {
                            <div>все лайки : @Model.Likes.Count</div>
                            <div>
                                уже лайкал? @if (Model.Userliked == true)
                                {<div>да </div>}
                                else
                                {<div>нет </div>}
                            </div>
                        }
                    </div>

                </div>

                
                <div class="col-xs-6 col-md-6">
                    <b>Репост</b>
                    @if (Model.Reposts != null)
                    {
                        <div>@Model.Reposts.Count</div>
                    }
                    else
                    {
                        <div>0</div>
                    }
                </div>
            </div>

            <div class="container"> <b>Коменты</b> 
                <div class="row">
                  
              </div>    
            
                <div>
                    @using (Ajax.BeginForm("AddComent", "Help", new AjaxOptions { UpdateTargetId = "results" }))
                    {
                        <input type="text" name="text" />
                        <input type="submit" value="Добавить комент" />
                    }
                    <div id="results">

                        @if (Model != null)
                        {
                            foreach (Coment l in Model.Coments)
                            {
                               <div class="col-xs-5 col-md-5">
                               <b> пользователь</b>
                               @if (Model.UserComents != null)
                               {
                                 foreach (User l2 in Model.UserComents)
                                  {
                                    if (l2.IdUser == l.IdUser)
                                     {
                                       @Html.DisplayFor(model => l2.Name)
                                       break;
                                     }
                                  }
                               }
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <b>Текст</b>
                                    @Html.DisplayFor(model => l.Text)
                                </div>
                                <div class="col-xs-1 col-md-1">
                                    <p>
                                        @Ajax.ActionLink("Удалить", "DeleteComent", "Help", new { IdComent = l.IdComent }, new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post" })
                                    </p>
                                </div>
                            }
                        }

                    </div>

                </div>
            
                    
       </div>
    </div>
 </div>

</div>
        <p>

            <input type="button" value="Назад" onclick="javascript:history.go(-1);" />
        </p>

