@using NiseWorld.Models
@model IEnumerable<Post>

@{
    ViewBag.Title = "Index";
}
@if (Model != null)
{
    foreach (NiseWorld.Models.Post b in Model)
    {
    <p>
        @Ajax.ActionLink(@b.Сaption, "Details", "test", new { IdPost = @b.IdPost }, new AjaxOptions { UpdateTargetId = "details-block", HttpMethod = "Post" })
    </p>

    }

}

<div id="details-block">
</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")